body {
	background-image: url('bilder/Bakgrund.jpg');
	background-repeat: no-repeat;
  background-color: #070129;

}

#wrapper {
	display: grid;
	grid-template-rows:  auto;
	width: 64%;
  margin: auto;
	grid-template-areas:
	"header"
	"nav"
	"main"

}


header {
  padding-top: 350px;
  height:90px;
  grid-area: header;
  background-image: url('bilder/Logga.jpg');
  background-repeat: no-repeat;
  background-position: center;

}

video{
	padding-top: 90px;
  margin-left: 15%;
	width: 70%;


}

nav{
	grid-area: nav;
	height: 100px;
	background-color: #4692c6;



}
.navbar{
  background-color: black;
  font-size: 30px;
}
main {
  grid-area: main;
  background-color: #4692c6;
  height: 600px;
}

a{
	text-decoration: none;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	font-family:Arial;

}


/* Hjälpknapp */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
	min-width: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* Behövs för att placera innehållet i dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown innehåll */
.dropdown-content {
  display: none;
  position: absolute;
	min-width: 68px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* länkar i dropdown*/
.dropdown-content a {
  color: black;
  font-size: 15px;
	padding: 5px;
  text-decoration: none;
  display: block;
}

/* Ändrar färg när man håller på en länk i dropdown med musen*/
.dropdown-content a:hover {background-color: #ddd}

/*visar listan(dropdown)*/
.show {display:block;}
