body {
	background-image: url('bilder/Bakgrund.jpg');
}

#wrapper {
  width: 64%;
	margin-left: auto;
	margin-right: auto;

}
header {
  padding-top: 300px;
  height:20px;
  width: 100%;
  background-image: url('bilder/Logga.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

nav{
	width: 100%;
	height: 535px;
	background-color: #4692c6;
	margin-left: auto;
	margin-right: auto;

}
.navbar{
  background-color: black;
  font-size: 30px;
  width: 100%;
	text-decoration:none;
	text-decoration-color: white;

}


a:link {
  text-decoration: none;
}


.dropdown {

	display: inline-block;
}

.dropdown-content {
	display:none;
	position: absolute;
	background-color:white;
	width:80px;
	height:150px;

}

.dropdown:hover .dropdown-content {
	display: block;
}

p a{
font-size:20px;
color: black;
}

p a:hover {
color: blue;
background-color: transparent;
}

span{
font-size: 30px;
color: white;

}
